<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
       <section>
            <form action="/api/user/login" method="post">
                <div>
                    <label for="userId">ID : </label>
                    <input type = "text" id="userId" name="userId">
                 </div>
                 <div>
                    <label for="userPw">PW : </label>
                    <input type = "password" id="userPw" name="userPw">
                </div>
                <input type="submit">
            </form>
            
       </section>
    </body>
</html>